<!-- app/views/pages/ask.html.erb -->
	<p id="ask"> Ask your coach anything:</p>
<form action="/answer">
	<input id="search" type="text" name="question" placeholder="Type here..." >
	<input class="btn" type="submit" value="Ask!">
</form>